In [20]:
import pandas as pd
import numpy as np
d = {'Right':[25, 22, 60, 45, 60, 0], 'Left':[100, 20, 90, 40, 65, np.nan]}
df = pd.DataFrame(data=d)
df

    Left  Right
0  100.0     25
1   20.0     22
2   90.0     60
3   40.0     45
4   65.0     60
5    NaN      0

In [21]:
df.mean()

Left     63.000000
Right    35.333333
dtype: float64

In [22]:
df.describe()

/Users/sachinkelkar/anaconda/lib/python3.5/site-packages/numpy/lib/function_base.py:3834: RuntimeWarning: Invalid value encountered in percentile
  RuntimeWarning)

             Left      Right
count    5.000000   6.000000
mean    63.000000  35.333333
std     33.466401  23.846733
min     20.000000   0.000000
25%           NaN  22.750000
50%           NaN  35.000000
75%           NaN  56.250000
max    100.000000  60.000000

In [55]:

from scipy import stats

In [59]:
stats.ttest_1samp(df['Left', 'Right'], 0)

KeyError: ('Left', 'Right')

In [60]:
c = {'CI':[5, 1, 3, 3, 1, 3, 3, 2, 4, 3, 4, 2, 3]}
cf = pd.DataFrame(data=c)
cf

    CI
0    5
1    1
2    3
3    3
4    1
5    3
6    3
7    2
8    4
9    3
10   4
11   2
12   3

In [62]:
cf.describe()

              CI
count  13.000000
mean    2.846154
std     1.143544
min     1.000000
25%     2.000000
50%     3.000000
75%     3.000000
max     5.000000

In [65]:
stats.ttest_1samp(cf['CI'], 3)

Ttest_1sampResult(statistic=-0.48507125007266561, pvalue=0.6363604104741063)

In [61]:
stats.norm.interval(0.68, loc=mu, scale=1.143544/sqrt(13))

NameError: name 'mu' is not defined

In [63]:
1.143544**2

1.3076928799359997

In [64]:
sqrt(1.3076)

NameError: name 'sqrt' is not defined